httplib2==0.8
ipython==2.1.0
numpy==1.8.1
pyechonest==8.0.2
pyen==2.3
python-dateutil==2.2
python-utils==1.5.2
scikit-image==0.9.3
scikit-learn==0.14.1
scipy==0.14.0
semetric.apiclient==0.2.1
simplejson==3.5.3
statsmodels==0.5.0

